{% extends "layouts/base.j2" %}

{% block content %}
<h1>Welcome, {{ current_user.name }}!</h1>
<p>This is the members-only page. You have successfully logged in.</p>


<form action="" enctype="multipart/form-data" method="post" novalidate>
    {{ form.hidden_tag() }}

    <div class="input-group mb-3">
        {{ form.message(class="form-control", placeholder="Write a message", size=32) }}

        {# {{ form.submit(class="btn btn-outline-success", size=32) }} #}
        <button type="button" class="btn btn-outline-secondary" name="upload">
            <i class="bi bi-paperclip"></i>
        </button>
        <button type="submit" name="submit" class="btn btn-outline-success">
            <i class="bi bi-send"></i>
        </button>
        {{ form.files(class="d-none") }}
    </div>

    <div class="mb-3">
        <ul class="list-group" id="file-list">
        </ul>
    </div>

    <div class="mb-3">
        <div class="card d-none" id="response_card">
            <div class="card-body">
                <h2 class="card-title">Output:</h5>
                    <p class="card-text"></p>
            </div>
        </div>
    </div>
</form>


{% endblock %}


{% block scripts %}
<script>
    const response_card_ele = document.getElementById("response_card");
    const files_ele = document.querySelector("input[name='files']");
    const filelist_ele = document.getElementById("file-list");
    const message_ele = document.querySelector("input[name='message']");
    const upload_btn_ele = document.querySelector("button[name='upload']");
    const form_ele = document.querySelector("form");

    upload_btn_ele.addEventListener("click", function (evt) {
        files_ele.click();
    });

    files_ele.addEventListener("change", function (evt) {
        const files = evt.target.files;
        filelist_ele.innerHTML = "";
        for (const file of files) {
            const li = document.createElement("li");
            li.className = "list-group-item";
            li.textContent = file.name;
            filelist_ele.appendChild(li);
        }
    });

    form_ele.addEventListener("submit", function (evt) {
        evt.preventDefault();
        // Make button disabled
        evt.target.disabled = true;
        evt.target.classList.add("disabled");
        // Clear the output
        response_card.querySelector(".card-body .card-text").innerHTML = "";
        response_card.classList.add("d-none");

        const files = files_ele.files;
        if (files.length > 0) {
            const formData = new FormData();
            for (const file of files) {
                formData.append("files[]", file);
            }
            fetch("/upload", {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    // console.log(data);
                    // Show the output
                    response_card_ele.querySelector(".card-body .card-text").innerHTML = data.data.files[0].output;
                    response_card_ele.classList.remove("d-none");

                    // Clear the input fields
                    files_ele.value = "";
                    filelist_ele.innerHTML = "";
                    message_ele.value = "";
                })
                .catch(error => {
                    console.error("Error uploading files:", error);
                }).finally(() => {
                    evt.target.disabled = false;
                    evt.target.classList.remove("disabled");
                });
        } else {
            console.log("No files selected")
        }
    });
</script>
{% endblock scripts %}